<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/output.css" />
    <link rel="shortcut icon" href="/src/assets/images/icons/waage_fav.png" type="image/x-icon" />
    <title>Document</title>
  </head>
  <body>
    <!-- Footer - Section -->
    <footer class="footer-section grid grid-cols-2 items-center bg-primary-default p-10 text-white">
      <div class="general-container">
        <ul class="flex gap-6">
          <li><a href="/src/pages/Impressum.html">Impressum</a></li>
          <li><a href="/src/pages/Datenschutz.html">Datenschutz</a></li>
          <li><a href="/src/pages/AGB.html">AGB</a></li>
          <li><a href="/src/pages/Kontakt.html">Kontakt</a></li>
        </ul>
      </div>
      <div class="social-media-container flex justify-end gap-6">
        <a href="www.facebookde"><img class="hover:scale-130 w-8 transition-transform" src="/src/assets/images/icons/facebook.png" alt="Führt zur Facebookseite" /></a>
        <a href="www.instagram.de"><img class="hover:scale-130 w-8 transition-transform" src="/src/assets/images/icons/instagram.png" alt="Führt zur Instagramseite" /></a>
        <a href="www.tiktok.com"><img class="hover:scale-130 w-8 transition-transform" src="/src/assets/images/icons/tiktok.png" alt="Führt zur Tiktokseite" /></a>
        <a href="www.twitter.com"><img class="hover:scale-130 w-8 transition-transform" src="/src/assets/images/icons/twitter.png" alt="Führt zur Twitterseite" /></a>
      </div>
    </footer>
  </body>
</html>
