<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/input.css" />
    <link rel="shortcut icon" href="/src/assets/images/icons/waage_fav.png" type="image/x-icon" />
    <title>Document</title>
  </head>
  <body>
    <!-- Footer - Section -->
    <footer class="footer-container">
      <div class="footer-container-left">
        <ul class="lawyer-container">
          <li><a href="/src/pages/Impressum.html">Impressum</a></li>
          <li><a href="/src/pages/AGB.html">AGB</a></li>
          <li><a href="/src/pages/Datenschutz.html">Datenschutz</a></li>
          <li><a href="/src/pages/Mandantenstimmen.html">Mandantenstimmen</a></li>
        </ul>
      </div>
      <div class="footer-container-right">
        <ul class="socialmedia-container">
          <li>
            <a href="https://www.facebook.de"><img src="/src/assets/images/icons/facebook.svg" alt="Zur Facebookseite" /></a>
          </li>
          <li>
            <a href="https://www.instagram.de"><img src="/src/assets/images/icons/instagram.svg" alt="Zur Instagramseite" /></a>
          </li>
          <li>
            <a href="https://www.tiktok.com"><img src="/src/assets/images/icons/tiktok.svg" alt="Zur Tiktokseite" /></a>
          </li>
          <li>
            <a href="https://www.twitter.com"><img src="/src/assets/images/icons/twitter.svg" alt="Zur Twitterseite" /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
