<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/input.css" />
    <link rel="shortcut icon" href="/src/assets/images/icons/waage_fav.png" type="image/x-icon" />
    <title>Document</title>
  </head>
  <body>
    <!-- Footer - Section -->
    <footer class="footer-container">
      <nav class="footer-container-links" aria-label="Rechtliche Informationen">
        <ul>
          <li><a href="/src/pages/Impressum.html">Impressum</a></li>
          <li><a href="/src/pages/AGB.html">AGB</a></li>
          <li><a href="/src/pages/Datenschutz.html">Datenschutz</a></li>
          <li><a href="/src/pages/Kontakt.html">Kontakt</a></li>
        </ul>
      </nav>
      <section class="footer-container-rechts">
        <ul>
          <li>
            <a href="www.facebook.de"><img src="/src/assets/images/icons/facebook.svg" alt="Auf Facebookseite weiterleiten" /></a>
          </li>
          <li>
            <a href="www.Instagram.de"><img src="/src/assets/images/icons/instagram.svg" alt="Auf Instagramseite weiterleiten" /></a>
          </li>
          <li>
            <a href="www.tiktok.com"><img src="/src/assets/images/icons/tiktok.svg" alt="Auf Tiktokseite weiterleiten" /></a>
          </li>
          <li>
            <a href="www.twitter.com"><img src="/src/assets/images/icons/twitter.svg" alt="Auf Twitterseite weiterleiten" /></a>
          </li>
        </ul>
      </section>
    </footer>
  </body>
</html>
