<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Dr. Max Mustermann – Fachanwalt für Strafrecht mit langjähriger Erfahrung in Strafverteidigung." />
    <link rel="stylesheet" href="/src/css/input.css" />
    <link rel="shortcut icon" href="/src/assets/images/icons/scale1.svg" type="image/x-icon" />
    <title>Strafverteidigung – Dr. Max Mustermann</title>
  </head>
  <body>
    <!-- Header - Section -->
    <header class="header-container">
      <div class="header-container-links">
        <img src="/src/assets/images/icons/scale.svg" alt="Waage von Justitia" />
        <div class="headline-container">
          <h3>Dr.JUR Max Mustermann</h3>
          <h4>Strafverteidigung</h4>
        </div>
      </div>
      <div class="header-container-rechts">
        <img src="/src/assets/images/icons/burger-menu.svg" alt="Öffnen der Hauptmenuleiste" />
        <div class="nav-container-mobil">
          <ul>
            <li><a href="/src/pages/home.html">Home</a></li>
            <li><a href="/src/pages/ueber_mich.html">Über mich</a></li>
            <li><a href="/src/pages/Leistungen.html">Leistungen</a></li>
            <li><a href="/src/pages/Erfolge.html">Erfolge</a></li>
            <li><a href="/src/pages/Blog_News.html">Blog/News</a></li>
          </ul>
        </div>
        <div class="nav-container-desktop">
          <ul>
            <li><a href="/src/pages/home.html">Home</a></li>
            <li><a href="/src/pages/ueber_mich.html">Über mich</a></li>
            <li><a href="/src/pages/Leistungen.html">Leistungen</a></li>
            <li><a href="/src/pages/Erfolge.html">Erfolge</a></li>
            <li><a href="/src/pages/Blog_News.html">Blog/News</a></li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
