/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variablen / Color */
:root {
  /* Primärfarbe – Dunkelblau und Varianten */
  --color-primary: #1a2a47;
  --color-primary-light: #435b7a;
  --color-primary-dark: #0f1a2b;
  --color-primary-dark-hero: #57729f;

  /* Sekundärfarbe – Gold und Varianten */
  --color-secondary: #d4af37;
  --color-secondary-light: #e1be54;
  --color-secondary-dark: #a8872e;

  /* Hintergrundfarben */
  --color-background-muted: #f5f7fa;

  /* Textfarben */
  --color-text: #0f1a2b;
  --color-text-muted: #4a5568;
  --color-text-white: #ffffff;

  /* Akzentfarbe */
  --color-accent: #c49e2a;
}

/* Fonts */
@font-face {
  font-family: "Montserrat", "ui-sans-serif", "Gerorgia";
  src: url("./src/Fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather", "ui-serif", "Gerorgia";
  src: url("/src/assets/fonts/Merriweather_24pt_SemiCondensed-Regular.ttf") format("truetyp");
  font-style: normal;
  font-display: swap;
}

/* Typescaling */
h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Montserrat;
  color: var(--color-text-white);
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: Merriweather;
  color: var(--color-text-white);
}
h3 {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: Montserrat;
  color: var(--color-text-white);
}
h4 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Montserrat;
  color: var(--color-text-white);
}
p {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: Merriweather;
  color: black;
}
/* Header - Section */
.header-section {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: 0.75rem 2.5rem;
  height: 3.5rem;
}
.header-container-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.header-container-left img {
  display: none;
  width: 3rem;
}
.header-name-container {
  text-align: center;
}
.header-name-container h1 {
  font-size: 0.75rem;
}
.header-name-container h2 {
  font-size: 0.625rem;
}
.burger-btn {
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
#main-navigation {
  display: none;
  position: relative;
}
#main-navigation.open {
  display: block;
}
.header-mobil-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  gap: 0.5rem;
}
.header-mobil-container li {
  flex-direction: column;
  list-style: none;
}
.header-mobil-container li a {
  text-decoration: none;
  color: var(--color-text-white);
  font-size: 0.75rem;
}
/* Hero - Section */
main {
  background-color: blue;
  height: 100vh;
}
/* Media - Queries */

/* .container {
  width: 95%;
  padding-left: 1rem;
  padding-right: 1;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid red;
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 85px;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  container {
    width: 80%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1400px) {
  container {
    width: 70%;
  }
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
} */
