/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variablen / Color */
:root {
  /* Primärfarbe – Dunkelblau und Varianten */
  --color-primary: #1a2a47;
  --color-primary-light: #435b7a;
  --color-primary-dark: #0f1a2b;

  /* Sekundärfarbe – Gold und Varianten */
  --color-secondary: #d4af37;
  --color-secondary-light: #e1be54;
  --color-secondary-dark: #a8872e;

  /* Hintergrundfarben */
  --color-background-muted: #f5f7fa;

  /* Textfarben */
  --color-text: #0f1a2b;
  --color-text-muted: #4a5568;
  --color-text-white: #ffffff;

  /* Akzentfarbe */
  --color-accent: #c49e2a;
}

/* Fonts */
@font-face {
  font-family: Montserrat, "ui-sans-serif";
  src: url("./src/Fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Merriweather "ui-serif", "Gerorgia";
  src: url("/src/assets/fonts/Merriweather_24pt_SemiCondensed-Regular.ttf") format("truetype");
}

/* Typescaling */
h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Montserrat;
  color: var(--color-text-white);
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: Merriweather;
  color: var(--color-text-white);
}
h3 {
  font-size: 1.5rem;
  font-family: Montserrat;
  color: var(--color-text-white);
}
h4 {
  font-size: 1.2rem;
  font-family: Montserrat;
  color: var(--color-text-white);
}
p {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: Merriweather;
  color: var(--color-text-white);
}
small {
  font-size: 1rem;
  font-weight: 600;
  font-family: Merriweather;
  color: var(--color-text-white);
}
/* Header - Container */
.header-container {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 1rem;
}
.header-container-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0rem;
}
.header-container-links img {
  display: none;
  width: 6rem;
  height: 3rem;
}

.headline-container h3 {
  font-size: 1rem;
  font-weight: 100;
  text-wrap: nowrap;
}
.header-container h4 {
  font-size: 0.75rem;
  font-weight: 100;
}

.header-container-rechts img {
  width: 2.5rem;
}
.header-container-rechts .nav-container-mobil ul {
  display: none;
  position: absolute;
  list-style: none;
  top: 4.5rem;
}
.header-container-rechts img:hover {
  cursor: pointer;
}
.header-container-rechts:hover .nav-container-mobil ul {
  display: block;
}
.header-container-rechts .nav-container-mobil ul li a {
  text-decoration: none;
  color: var(--color-text-white);
  font-size: 0.75rem;
}
.header-container-rechts .nav-container-mobil ul li a:hover,
.header-container-rechts .nav-container-mobil ul li a[aria-current="page"] {
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}
.nav-container-desktop ul {
  gap: 1.5rem;
}
.nav-container-desktop ul {
  list-style: none;
}
.nav-container-desktop ul li a {
  text-decoration: none;
  color: var(--color-text-white);
}

.header-container-rechts .nav-container-desktop ul li a:hover,
.header-container-rechts .nav-container-desktop a[aria-current="page"] {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
/* Footer - Section */
.footer-container {
  background-color: var(--color-primary-dark);
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.footer-container-links ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
.footer-container-links ul li a {
  text-decoration: none;
  color: var(--color-text-white);
  font-size: 0.75rem;
}
.footer-container-links ul li a:hover,
.footer-container-links ul li a[aria-current="page"] {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
.footer-container-rechts {
  display: none;
}
.footer-container-rechts ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.footer-container-rechts ul li a {
  text-decoration: none;
}
.footer-container-rechts ul li a img {
  width: 1.75rem;
  height: 1.75rem;
}
.footer-container-rechts ul li a img:hover {
  transform: scale(1.2);
}
/* Media - Queries */

@media (min-width: 320px) {
  .nav-container-desktop ul {
    display: none;
  }
}
@media (min-width: 576px) {
  /* Header - Section */
  .header-container-rechts .nav-container-mobil ul {
    top: 3.3rem;
  }
  /* Footer Section */
  .footer-container {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  .footer-container-links ul li a {
    font-size: 1rem;
  }
  .footer-container-rechts {
    display: flex;
  }
  .footer-container-rechts ul {
    margin-top: 0.25rem;
  }
}
@media (min-width: 768px) {
  .header-container-links img {
    display: block;
  }
  .headline-container h3 {
    font-size: 1.25rem;
    font-weight: 300;
  }
  .header-container h4 {
    font-size: 1rem;
    font-weight: 300;
  }
  .header-container-rechts img {
    width: 3.5rem;
  }
  .header-container-rechts .nav-container-mobil ul li a {
    font-size: 1rem;
  }
  .header-container-rechts .nav-container-mobil ul {
    font-size: 1rem;
    top: 4.3rem;
  }
  .nav-container-desktop ul {
    display: none;
  }
  /* Footer - Section */
  .footer-container {
    padding: 2rem;
  }
  .footer-container-rechts ul {
    gap: 1.5rem;
  }
  .footer-container-rechts ul li a img {
    width: 2rem;
    height: 2rem;
  }
}
@media (min-width: 992px) {
  .header-container-rechts img {
    display: none;
  }
  .nav-container-mobil {
    display: none;
  }
  .nav-container-desktop ul {
    display: flex;
  }
  /* Footer - Section */
  .footer-container {
    padding: 2rem;
  }
  .footer-container-links {
    margin-left: 1.5rem;
  }
  .footer-container-links ul li a {
    font-size: 1rem;
  }
  .footer-container-rechts {
    margin-right: 1.5rem;
  }
  .footer-container-rechts ul {
    gap: 2.5rem;
  }
  .footer-container-rechts ul li a img {
    width: 2rem;
    height: 2rem;
  }
}
/* .container {
  width: 95%;
  padding-left: 1rem;
  padding-right: 1;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid red;
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 85px;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  container {
    width: 80%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1400px) {
  container {
    width: 70%;
  }
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
} */
