/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variablen / Color */
:root {
  /* Primärfarbe – Dunkelblau und Varianten */
  --color-primary: #1a2a47;
  --color-primary-light: #435b7a;
  --color-primary-dark: #0f1a2b;
  --color-primary-dark-hero: #57729f;

  /* Sekundärfarbe – Gold und Varianten */
  --color-secondary: #d4af37;
  --color-secondary-light: #e1be54;
  --color-secondary-dark: #a8872e;

  /* Hintergrundfarben */
  --color-background-muted: #f5f7fa;

  /* Textfarben */
  --color-text: #0f1a2b;
  --color-text-muted: #4a5568;
  --color-text-white: #ffffff;

  /* Akzentfarbe */
  --color-accent: #c49e2a;
}

/* Fonts */
@font-face {
  font-family: "Montserrat", "ui-sans-serif", "Gerorgia";
  src: url("./src/Fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather", "ui-serif", "Gerorgia";
  src: url("/src/assets/fonts/Merriweather_24pt_SemiCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

/* Typescaling */
h1 {
  font-size: clamp(1rem, calc(1rem + 9.6 * ((100vw - 320px) / 1120)), 1.6rem);
  font-weight: 7000;
  line-height: 1.3;
  font-family: Montserrat;
  color: var(--color-text-white);
  margin: 0;
}
h2 {
  font-size: clamp(0.8rem, calc(0.8rem + 8 * ((100vw - 320px) / 1120)), 1.3rem);
  font-weight: 600;
  line-height: 1.3;
  font-family: Merriweather;
  color: var(--color-text-white);
  margin: 0;
}
h3 {
  font-size: clamp(1.2rem, calc(1.2rem + 28.8 * ((100vw - 320px) / 1120)), 3rem);
  font-weight: 200;
  font-family: Montserrat;
  color: var(--color-text-white);
  margin: 0;
}
h4 {
  font-size: clamp(1rem, calc(1rem + 16 * ((100vw - 320px) / 1120)), 2rem);
  font-weight: 100;
  font-family: Montserrat;
  color: var(--color-text-white);
  margin: 0;
}
h5 {
  font-size: clamp(1rem, calc(1rem + 8 * ((100vw - 320px) / 1120)), 1.5rem);
  font-weight: 100;
  font-family: Montserrat;

  margin: 0;
}
p {
  font-size: clamp(0.75rem, calc(0.75rem + 4 * ((100vw - 320px) / 1120)), 1rem);
  line-height: 1.6;
  font-weight: 400;
  font-family: Merriweather;
  color: black;
}
/* Header - Section */
.header-section {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: clamp(1rem, 5vw, 1.5rem);
  align-items: center;
  max-height: 80px;
  /* position: sticky;
  top: 0;
  z-index: 2; */
}
.header-container-left {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 1rem;
}
.header-container-left img {
  display: none;
  width: 3rem;
  height: auto;
}
.header-container-right {
  margin-right: 1rem;
}

.burger-btn {
  background-color: var(--color-primary);
  border: none;
  display: flex;
  cursor: pointer;
}
#main-navigation {
  display: none;
  position: relative;
}

#main-navigation.open {
  display: block;
}
.header-mobil-container {
  position: absolute;
}
.header-mobil-container li {
  list-style: none;
}
.header-mobil-container li a {
  text-decoration: none;
  color: var(--color-text-white);
  font-size: 0.7rem;
  position: relative;
  z-index: 1;
}
.header-mobil-container li a:hover,
.header-mobil-container li a[aria-current="page"] {
  text-decoration: underline;
}
.header-desktop-container {
  display: none;
}
.header-desktop-container li a[aria-current="page"] {
  text-decoration: underline;
}
/* Hero - Section */
.hero-container {
  background-image: url("/src/assets/images/picture/heroPicture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}
.hero-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 102, 0.5);
  pointer-events: none;
}
.hero-headline-container {
  margin-top: 4rem;
}
.hero-headline-container h3 {
  position: relative;
  z-index: 1;
  color: var(--color-text-white);
  text-align: center;
  margin-bottom: 1rem;
}
.hero-headline-container h4 {
  position: relative;
  z-index: 1;
  color: var(--color-text-white);
  text-align: center;
  margin-bottom: 0.5rem;
}
.btn-container {
  position: relative;
  z-index: 1;
  margin-bottom: 0.5rem;
}
.btn-container button {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-secondary);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-text-white);
}
.btn-container button:hover {
  background-color: #c49e2a;
}
/* Teaser - Section */
.teaser-container {
  position: relative;
  z-index: 1;
  display: grid;
  margin-bottom: 1rem;
  gap: 1rem;
}
.teaser-container a {
  background-color: var(--color-background-muted);
  text-align: center;
  padding: 0.25rem;
  text-decoration: none;
  color: black;
}
.teaser-container a:hover {
  transform: scale(1.1);
}
.teaser-about-me-container,
.teaser-services-container,
.teaser-success-container,
.teaser-client-voices-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}
/* .teaser-about-me-container p,
.teaser-services-container p,
.teaser-success-container p,
.teaser-client-voices-container p {
  font-size: 0.75rem;
} */
.teaser-about-me-container img,
.teaser-services-container img,
.teaser-success-container img,
.teaser-client-voices-container img {
  width: clamp(1.5rem, calc(1.5rem + 16 * ((100vw - 320px) / 1120)), 2.5rem);
  height: auto;
}
.main-about-me-container {
  display: grid;
  padding: 1rem;
  place-items: center;
  gap: 1rem;
}
.picture-container img {
  width: 5rem;
  height: auto;
}
.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 0.5rem; */
}
.about-me-container h2 {
  color: black;
}
.quote-block-container {
  background-color: var(--color-secondary);
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: clamp(1rem, calc(1rem + 4 * ((100vw - 320px) / 1120)), 1.25rem);
  font-style: italic;
  margin-top: 1rem;
}
/* Footer - Section */
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-dark);
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}
.lawyer-container {
  display: flex;
  gap: clamp(1rem, calc(1rem + 48 * ((100vw - 320px) / 1120)), 4rem);
}
.lawyer-container li {
  list-style: none;
}
.lawyer-container li a {
  text-decoration: none;
  color: var(--color-text-white);
  font-size: clamp(0.7rem, calc(0.8rem + 4.8 * ((100vw - 320px) / 1120)), 1rem);
}
.lawyer-container li a:hover,
.lawyer-container li a[aria-current="page"] {
  text-decoration: underline;
}
.socialmedia-container {
  display: flex;
  gap: clamp(1rem, calc(1rem + 48 * ((100vw - 320px) / 1120)), 4rem);
}
.socialmedia-container li {
  list-style: none;
}
.socialmedia-container li a img {
  width: clamp(1rem, 5vw, 1.5rem);
  height: auto;
}
.socialmedia-container li a img:hover {
  transform: scale(1.2);
}
/* Media - Queries */
@media (min-width: 768px) {
  /* Footer - Section */
  .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .lawyer-container li {
    margin-bottom: 0.2rem;
  }
  .socialmedia-container li {
    margin-top: 0.3rem;
  }
  /* Header - Section */
  .header-section {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  /* Hero - Section */
  .btn-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .hero-headline-container {
    margin-top: 2.5rem;
  }
  /* Teaser - Section */
  .teaser-container {
    grid-template-columns: 1fr 1fr;
  }
  .teaser-container a {
    padding: 1rem;
  }
  .about-me-container img,
  .services-container img,
  .success-container img,
  .client-voices-container img {
    width: 3rem;
    height: auto;
  }
  .about-me-container h5,
  .services-container h5,
  .success-container h5,
  .client-voices-container h5 {
    font-size: 1.2rem;
  }
  .about-me-container p,
  .services-container p,
  .success-container p,
  .client-voices-container p {
    font-size: 1rem;
  }
  /* About - me - Section */
  .main-about-me-container {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
  .picture-container img {
    width: 20rem;
    height: auto;
  }
}
@media (min-width: 992px) {
  .header-container-left img {
    display: block;
  }
  .burger-btn {
    display: none;
  }
  .header-desktop-container {
    display: flex;
    gap: 1.5rem;
  }
  .header-desktop-container li {
    list-style: none;
  }
  .header-desktop-container li a {
    text-decoration: none;
    color: var(--color-text-white);
  }
  .header-desktop-container li a:hover {
    text-decoration: underline;
  }
  /* Hero - Section */
  .hero-headline-container {
    margin-top: 5rem;
  }
  .btn-container {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }
  /* Teaser - Section */
  .teaser-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  .about-me-container img,
  .services-container img,
  .success-container img,
  .client-voices-container img {
    width: 3rem;
    height: auto;
  }
  .about-me-container h5,
  .services-container h5,
  .success-container h5,
  .client-voices-container h5 {
    font-size: 1.3rem;
  }
  .about-me-container p,
  .services-container p,
  .success-container p,
  .client-voices-container p {
    font-size: 1rem;
  }
  /* About - me - Section */
  .main-about-me-container {
    padding: 2.5rem 3.5rem 2.5rem 0;
  }
}
/* .container {
  width: 95%;
  padding-left: 1rem;
  padding-right: 1;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid red;
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 85px;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  container {
    width: 80%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1400px) {
  container {
    width: 70%;
  }
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
} */
